body{
margin:0;
padding:0;
border:box-sizing;
background-color:black;
color:white;

}
span{
color:green;
font-size:50px;
font-weight:bold;
}
hr{
width:190px;
font-weight:bold;
}
.container{
width:40%;
height:100%;
position:relative;
left:30%;
background-color:lightyellow ;
color:black;
background-blend-mode:darken;

}
.heading{
position:absolute;
top:10%;
left:30%;
font-weight:bold;
font-size:50px;
opacity:10;
}
.inputbox{
position:absolute;
top:30%;
left:10%;
font-size:50px;


}
.inputbox .box{
border-radius:10px;
height:40px;
width:400px;

}
.list{
position:absolute;
top:35%;
left:10%;
font-size:50px;
}
.btnsubmit{
height:40px;
width:75px;
font-size:17px;
font-weight:bold;
border-radius:10px;

}
.btnsubmit:hover{
transaction:scale(1);
background-color:pink;
cursor:pointer;
}